p.contact_description {
	text-align:center;
}

.grid-item {
	width: 100%;
}

.contact_list_title_container {
	position:relative;
}

#contact_list li {
	margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
	#contact_list > li {
		min-height:400px;
	}
}

#contact_formulaire {
	margin-top: 20px;
	clear: both;
}

.contact_list_adresse span {
	font-weight: bold;
}

.contact_list_adresse {
	margin-left:20px;
}

.contact_formulaire .alert_message {
	color: red;
}