* {
	margin: 0px;
	padding: 0px;
	max-width: 100%;
	font-family: Arial;
  color:#5E5E5E;
}

header{
  clear: both;
}

header #Vaise_logo {
	margin: 2% 0px;
	max-height: 80px;
}

ul {
  list-style: none;
}

h2{
  text-transform: uppercase;

}

h3{
  font-size: 25px;
  font-family: "Arial";
  color: rgb(94, 94, 94);
  font-weight: bold;
  text-align: center;
}

.container-fluid{
  background-color:white;
}

#menu img {
  margin: 0px;
  margin-top: -10px;
  max-height: 40px;
}

#menu li a, #en a {
	display: block;
	background-color: #e44b00;
	text-align: center;
	text-decoration: none;
	color: white;
	line-height: 30px;
  font-size: 100%;
}

#menu{
  width: 79%;
  float: right;
  margin-top: 40px;
}

#menu #everyday a {
	background-color: #8ea301;
}

#menu #leisure a {
	background-color: #0173a6;
}

#menu #culture a {
	background-color: #bc017c;
}

#menu #links a {
	background-color: #7e0095;
}

#menu #en a {
  background-color: #e7e7e7;
  color:black;
  line-height: 60px;
}

#menu #links > a, 
#menu #home > a, 
#menu #culture > a,
#menu #leisure > a,
#menu #everyday > a,
#menu #culture > ul a,
#menu #leisure > ul a,
#menu #everyday > ul a {
  transition: all .2s linear;
}

#leisure > a, #culture > a, #everyday > a {
  z-index: 10000;
}

#menu li > ul {
  animation: movemenu .2s linear;
  -webkit-animation: movemenu .2s linear;
}

/* Standard syntax */
@keyframes movemenu {
  0% {top: 0px;}
  100% {top: 45px;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes movemenu {
  from {top: 0px;}
  to {top: 45px;}
}

#home > a:hover {
  color:#e44b00;
}

#everyday a:hover {
  color:#8ea301;
}

#leisure a:hover {
  color:#0173a6;
}

#culture a:hover{
  color:#bc017c;
}

#links > a:hover {
  color:#7e0095;
}

#menu #links > a:hover, 
#menu #home > a:hover, 
#menu #culture > a:hover,
#menu #leisure > a:hover,
#menu #everyday > a:hover,
#menu #culture > ul a:hover,
#menu #leisure > ul a:hover,
#menu #everyday > ul a:hover {
  background-color:white;
}
/*
#menu li ul {
	display: none;
}
*/
.navbar {
  border: 0;
}

.navbar > div,
.navbar > div > div {
  padding-left: 0;
  padding-right: 0;
}

.navbar-header {
  height: 0px;
}

.navbar-nav {
  width: 100%;
  margin: 0px;
}

.navbar-nav > li {
  width: 19%;
  text-align: center;
}

.navbar-nav > li:last-child {
  width: 5%;
  text-align: center;
  float: left;
}

.dropdown-menu {
  width: 100%;
  padding: 0px;
  border: none;
}

#myCarousel{
  clear: both;
}
.carousel img {
  width: 100%;
}

.carousel .item {
  max-height: 500px;
}

.row {
  margin: 0px;
}

.conteneur{
  margin-top:30px;
  background-color:#f9f9f9;
}

/* ---- button ---- */
.button {
  display: inline-block;
  padding: 10px 18px;
  margin-bottom: 10px;
  background-color:#f9f9f9;
  color: #5E5E5E;
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
  float: left;
  border:none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #8CF;
  color: #222;
}
.button-home{
  margin-top:17px;
}

/*.button:active,
.button.is-checked {
  background-color: #28F;
}*/

/*.button.is-checked {
  color: white;
}*/

/*.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}*/

/* ---- button-group ---- */
.button-group:after {
  content: '';
  display: block;
  clear: both;
}

/*.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}*/

/* ---- isotope ---- */
.grid-item {
  position: relative;
  float: left;
  width: 150px;
  height: 200px;
  min-width: 47%;
  margin: 5px;
  background: #888;
  color: #262524;
  overflow: hidden;
}

.grid-item .zoom_pict {
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
  transition: all .4s;
  -moz-transform: scale(1,1);
  -webkit-transform: scale(1,1);
  transform: scale(1,1);
  moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: 0;
}

.grid-item:hover .zoom_pict {
  -moz-transform: scale(1.4,1.4);
  -webkit-transform: scale(1.4,1.4);
  transform: scale(1.4,1.4);
}

.grid-item span {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: block;
  height: 150px;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
}

.grid-item .title {
  position: absolute;
  bottom: 15px;
  left: 10px;
  right: 10px;
  margin: 0px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
}

.grid-item--width2 { width: 310px; }
.grid-item--height2 { height: 410px; }


/*Sidebar*/

#right > div {
  background-color: white;
  padding: 10px;
  margin-bottom: 20px;
  clear: both;
}

#right #mayor_word {
  float: left;
}

#right > div h3,
#right > div p {
  margin: 0px;
}
.sidebar{
  margin:30px 0;
  border-left:1px solid #5E5E5E;
}
#right #mayor_picture {
  float: left;
  max-width: 50%;
  max-height: 120px;
  margin: 6px;
  margin-left: 0px;
}

#right h3,
#right .icon {
  text-align: center;
  text-transform: uppercase;
}

#right i {
  color: #e7e7e7;
}

#right i:hover {
  color: #a3a3a3;
}

#weather{
  text-align: center;
}

#weather img{
    max-width: 70%;
}

#weather .nomination{
  font-weight: bold;
  margin-top:5px;
}



/*Page 404*/
.p404{
  margin:0;
  padding:0;
}
.p404 img{
  width:100%;
  max-height: 60%;
}

.p404 h1{
  font-size: 5vw;
  font-family: "Arial Black";
  color: rgb(94, 94, 94);
  line-height: 1.402;
  text-align: center;
}
.p404 h1 a{
  font-family: "Arial Black";
  color: rgb(94, 94, 94);
  text-decoration: underline;
}

.p404 .text_404{
  position:absolute;
  top:70px;
  left:1px;
}


footer {
  position: relative;
  margin-top: 20px;
}

footer a,
footer p {
  color: #5e5e5e;
}

footer a:hover {
  text-decoration: none;
  color: grey;
}

footer li {
  display: inline-block;
  list-style: none;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}

footer * {
  text-align: center;
}

footer .texte {
  position: absolute;
  bottom: -70px;
  left: 0px;
  right: 0px;
}

footer .col-md-8 {
  padding: 0px;
}

footer #logograndlyon {
  margin-top: 5px;
}

@media screen and (max-width: 380px) {
  .button {
    padding: 10px 13px;
  }

  .grid-item {
    width: 100%;
  }
}

@media screen and (max-width: 520px) {
  .carousel .carousel-caption p {
    display: none;
  }

  .grid-item {
    height: 150px;
  }

  .grid-item--height2 { height: 310px; }
}

@media screen and (min-width: 767px) {
  #menu li:hover > ul {
    display: block;
  }
}
@media screen and (max-width: 1200px) {
  .container{
    width:100%;
  }
}

@media screen and (max-width: 1103px) {
  #menu{
    width:79%;
  }

  .sidebar{
    border:none;
  }
}

@media screen and (max-width: 767px) {
  header > a,
  header > img {
    display: none;
  }

  #menu {
    width: 100%;
  }

  .navbar-nav li {
    width: 100%;
  }

  .navbar > div,
  .navbar > div > div {
    padding-left: 15px;
  }
}


/*Pagemenu*/

.cat-menu{
  margin-bottom:10px;
}

.cat-menu img{
  height:auto;
  text-align: center
}

.cat-menu-2:first-child{
  margin-top:30px;
}

.cat-menu #left{
  padding-right:5px;
}

.cat-menu #right{
  padding-left:5px;
}

.cat-menu p{
  font-size: 1em;
}

.cat-menu .img-menu{
  position:relative;
}

.cat-menu h2{
  position:absolute;
  width:100%;
  text-align: center;
  bottom: 40%;
  color:white;
  text-transform: uppercase;
  font-weight: bold;
}

.txt-menu, .img-menu{
  height:250px;
}






















