* {
	margin: 0px;
	padding: 0px;
	max-width: 100%;
	font-family: Arial;
}

header #Vaise_logo {
	margin: 20px;
	max-height: 80px;
}

#menu img {
  margin: 0px;
  margin-top: -10px;
  max-height: 40px;
}

#menu li a {
	display: block;
	background-color: #e44b00;
	text-align: center;
	text-decoration: none;
	color: white;
	line-height: 30px;
  font-size: 1.2em;
}

#menu > li:hover > ul {
	display: block;
}

#menu #everyday a {
	background-color: #8ea301
}

#menu #leisure a {
	background-color: #0173a6
}

#menu #culture a {
	background-color: #bc017c
}

#menu #links a {
	background-color: #7e0095
}
/*
#menu li ul {
	display: none;
}
*/
.navbar {
  border: 0;
}

.navbar > div,
.navbar > div > div {
  padding-left: 0;
  padding-right: 0;
}

.navbar-header {
  height: 0px;
}

.navbar-nav {
  width: 100%;
  margin: 0px;
}

.navbar-nav > li {
  width: 20%;
  text-align: center;
}

.dropdown-menu {
  width: 100%;
  padding: 0px;
  border: none;
}

.carousel img {
  width: 100%;
}

.carousel .item {
  max-height: 500px;
}

.row {
  background-color: #f9f9f9;
  margin: 0px;
}

/* ---- button ---- */
.button {
  display: inline-block;
  padding: 10px 18px;
  margin-bottom: 10px;
  background: #EEE;
  border: none;
  border-radius: 7px;
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #28F;
}

.button.is-checked {
  color: white;
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */
.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

/* ---- isotope ---- */
.grid-item {
  position: relative;
  float: left;
  width: 150px;
  height: 200px;
  min-width: 47%;
  margin: 5px;
  background: #888;
  color: #262524;
  background-size: 100%;
  background-position: center;
  transition: background-size .4s;
}

.grid-item:hover {
  background-size: 120%;
}

.grid-item span {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: block;
  height: 150px;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
}

.grid-item .title {
  position: absolute;
  bottom: 15px;
  left: 10px;
  right: 10px;
  margin: 0px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
}

.grid-item--width2 { width: 310px; }
.grid-item--height2 { height: 410px; background-size: 180%; }
.grid-item--height2:hover { background-size: 200%; }

#right > div {
  background-color: white;
  padding: 10px;
  margin-bottom: 20px;
}

#right > div h3,
#right > div p {
  margin: 0px;
}

#right #mayor_picture {
  float: left;
  max-width: 50%;
  max-height: 120px;
  margin-right: 5px;
}

#right h3,
#right .icon {
  text-align: center;
  text-transform: uppercase;
}

#right i {
  color: #e7e7e7;
}

#right i:hover {
  color: #a3a3a3;
}

@media screen and (max-width: 380px) {
  .button {
    padding: 10px 13px;
  }

  .grid-item {
    width: 100%;
  }
}

@media screen and (max-width: 520px) {
  .carousel .carousel-caption p {
    display: none;
  }

  .grid-item {
    height: 150px;
  }

  .grid-item--height2 { height: 310px; }
}

@media screen and (max-width: 767px) {
  header > a,
  header > img {
    display: none;
  }

  .navbar-nav li {
    width: 100%;
  }

  .navbar > div,
  .navbar > div > div {
    padding-left: 15px;
  }
}

footer a, footer li, footer p{
    color:#5e5e5e;
}

footer a:hover {
    text-decoration: none;
    color:grey;
}

footer li {
    display: inline-block;
    list-style: none;
    font-weight: bold;
    font-size:16;
    text-transform: uppercase;
}

footer > .liens {
    text-align: center;
}

footer #logolyon9 {
    float:left;
}

footer #logograndlyon {
    float:right;
}

footer p {
    text-align: center;
}

footer .texte {
    padding-top:40px;
}

footer #logograndlyon {
    padding-right: 30px;
    padding-top:15px;
}

footer #logolyon9 {
    padding-left: 10px;
    width:237px;
}