.grid-item {
	min-width: 32%;
	margin: 5px .5%;
}

#product .btn-info {
	min-width: 50%;
	margin: 10px auto;
	display: block;
	clear: both;
}

#product .btn-info .fa {
	color: white;
}

#product input[type="submit"] {
	margin-left: 10px;
	background: none;
	border: none;
}

@media screen and (min-width: 768px) {
	#product #sidebar {
		position: relative;
		top: -69px;
	}
}