#content #gmap {
	height: 50%;
}

#content #gmap * {
	max-width: initial;
}

#content li {
	background-color: white;
	margin-top: 10px;
	padding: 10px;
}

#content li > * {
	display: inline-block;
	float: initial;
	vertical-align: middle;
}

#content li img {
	padding: 0px;
}

#content li #no_pict {
	padding-left: 30px;
	padding-right: 30px;
}

#content li div > * {
	margin: 0px 0px 5px 0px;
}

#content li h3 {
	margin-top: 0px;
}

#content li div *:last-child {
	margin-bottom: 0px;
}

.open_now,
.close_now {
	position: absolute;
	top: 0px;
	right: 0px;
}

.open_now {
	color: green;
}

.close_now {
	color: red;
}