#left img {
	float: left;
	width: 100px;
	margin: 8px 0px;
}

#left img:hover {
	border: 4px solid black;
}

#center #gmap {
	height: 50%;
}

#center #gmap * {
	max-width: initial;
}

#center li {
	background-color: white;
	margin-top: 10px;
	padding: 10px;
}

#center h3 {
	margin-top: 0px;
}

#center p:last-child {
	margin-bottom: 0px;
}